<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Listing Ideas</title>
  </head>
    <body>
      <h1>Listing ideas</h1>
          <table class="table">
            <% @ideas.in_groups_of(3) do |group| %>

              <% group.compact.each do |idea| %>
                <%= image_tag idea.picture_url, width: '600' if idea.picture.present? %>
                  <!-- <%= link_to idea.name, idea %> -->
                    <figcaption>
                      <%= idea.description %>
                    </figcaption>
            <% end %>
            <% end %>
          </table>
    </body>
</html>
